hr{
    position: relative;
    top: -35px;
margin: .2in;
width: 100%;
}

.flexbox-container{
    display: flex;
    justify-content: flex-start;
    height: 800px;
    width: 800px;
    
}
.box1{
    position: relative;
    width: 650px;
    height: 820px;
    top: -10px;
    border: 2px solid green;
    padding: 50px;
    margin-left: 1.5in;
}

.box1 img{
 position: relative;
top: -45px;
left: -50px;
height: 475px;
width:750px;
margin: 0px;
padding-right: 2em;
align-items: left 2em;
}

.box2 {
    position: relative;
    top: -25px;
    left: 10px;
    align-items: flex-start;
    height: 445px;
    min-width: 260px;
    border: 2px solid green;
    padding: 50px;
    margin: 20px;
}
.box2 img{
    position: relative;
    width: 360px;
    height: 180px;
    top: -50px;
    left: -50px;
    
}

 .circlepicture {
    position: absolute;
    border-radius: 50%;
    left: 10.6in;
    top: 2.2in;
    height: 180px;
    width: 180px;
    border: 6px solid rgb(254, 255, 255);

}

.box3{
    position: relative;
    top: 555px;
    right: 390px;
    min-height: 880px;
    min-width: 250px;
    border: 2px solid green;
    padding: 50px;
    margin: 20px;
}



.flexbox-container1{
    position: relative;
width: 100%; 
position: relative;
justify-content: flex;
margin-top: 0px;
border: 2px solid green;

}

a:link { 
    text-decoration: none;
 }

.nav-list{
   display: inline-block;
   margin-left: 1in;
   text-decoration: none;
   list-style: none;

}

    .box-logos{
        position: relative;
        display: inline-block;
        top: -30px;
        left: 70px;
        width: 200px;
        padding-left: 10px;
        font-size: 12px;
        text-decoration: none;
        list-style-type: none;
        margin-left: 11in;
        border: 2px solid green;

    }

    .fa-facebook-f{

        padding-right: 10px 
    }