@import "header.css";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.nav-bar {
  position: relative;
  border-bottom: solid grey 1px;
  top: 45px;
}
.nav-left {
  position: relative;
  font-size: 11.5px;
  left: 150px;
  word-spacing: 25px;
  top: -20px;
}
.nav-left a {
  text-decoration: none;
  list-style: none;
  color: #444;
}
.nav-right {
  position: relative;
  right: 145px;
  word-spacing: 12px;
  font-size: 13px;
  top: -20px;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background-color: #f4f4f4;
}

.main img {
  position: relative;
  top: -50px;
  height: 58%;
  width: 115.2%;
  right: 50px;
}
.main h4 {
  position: relative;
  top: -30px;
  color: orange;
}
.main h2 {
  position: relative;
  top: -40px;
}
.main p {
  position: relative;
  line-height: 25px;
  top: -30px;
}

.main button {
  position: relative;
  top: -9px;
  height: 40px;
  width: 170px;
  border: orange solid 1px;
  color: orange;
  background-color: rgb(245, 245, 245);
  font-size: 11px;
}
.main time {
  position: relative;
  top: 50px;
  font-size: 14px;
  font-style: italic;
  right: 170px;
  word-spacing: 5px;
}
.main i {
  position: relative;
  top: 55px;
  left: 190px;
  letter-spacing: 15px;
}

.wrapper {
  display: flex;
}

article {
  position: relative;
  text-align: center;
  width: 750px;
  height: 920px;
  top: 95px;
  margin-bottom: 6%;
  right: -5px;

  padding: 50px;
  margin-left: 1.5in;
  background-color: white;
}

.article-3 {
  height: 950px;
}

.article-3 img {
  height: 59%;
}
.article-4 {
  top: 90px;
}

#profile-aside article {
  background-color: white;
}

#profile {
  position: relative;
  top: 2%;
  right: 70px;
  height: 7.3%;
  width: 57%;
  left: 1.6%;
  padding: 50px;
  margin: 20px;
  background-color: white;
}

#profile-aside {
  position: relative;
  height: 270%;
  width: 360px;
  top: -7%;
  right: 190px;
}

#profile-aside-img {
  position: relative;
  width: 140%;
  height: 190px;
  top: -90px;
  right: 20%;
}

#profile-picture {
  position: absolute;
  border-radius: 50%;
  width: 55%;
  height: 36%;

  border: 8px solid rgb(246, 244, 244);
  left: 24%;
  top: 13%;
  padding: 0%;
  margin: 0%;
}
#profile-aside p,
h2 {
  position: relative;
  top: 0%;
  text-align: center;
}
#profile-aside p {
  position: relative;
  padding-right: 60px;
  line-height: 25px;
}

.social-icons i {
  position: relative;
  top: -20px;
  color: grey;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 12px;
  text-align: center;
  word-spacing: 15px;
  border: 1px solid rgb(97, 96, 96);

  padding: 7px;
  margin-top: 12%;
  margin-left: 6px;
  left: -7px;
}

.popular-post {
  position: relative;
  height: 25%;
  width: 56%;
  top: 9.1%;
  right: -35px;
  background-color: white;
}

.popular-post img {
  position: relative;
  width: 300px;
  height: 200px;
  left: 30px;
  top: 45px;
}
.popular-post h2 {
  top: 25px;
  text-align: center;
  font-size: 19px;
}
.popular-post h3 {
  position: relative;
  top: 45px;
  text-align: left;
  font-size: 12px;
  left: 30px;
}
.popular-post p {
  position: relative;
  top: 45px;
  text-align: left;
  left: 30px;
}
.post2 {
  position: relative;
  top: 45px;
}

.post3 {
  position: relative;
  top: 70px;
}

.latest-post img {
  position: relative;
  height: 80px;
  width: 105px;
  left: 27px;
  top: 55px;
}

.latest-post {
  position: relative;
  top: 9.7%;
  height: 13.2%;
  width: 57%;
  left: 35px;
  background-color: white;
}
.latest-post h2 {
  position: relative;
  text-align: center;
  font-size: 18px;
  top: 40px;
  font-family: oswald;
  font-weight: light;
}

.latest-post h3 {
  position: relative;
  font-size: 12px;
  text-align: center;
  top: 40px;
}
.latest-post p {
  font-size: 12px;
  text-align: center;
  top: -40px;
  right: 15px;
}
#img1 {
  position: relative;
  top: 50px;
}
#img2 {
  top: 8px;
}
#img3 {
  top: -30px;
}
#img4 {
  top: -70px;
}

.LP1 h3,
p {
  position: relative;
  left: 35px;
  top: -40px;
}

.LP2 h3 {
  position: relative;
  left: 0px;
  top: -80px;
}
.LP2 p {
  position: relative;
  top: -80px;
  right: 65px;
}
.LP3 h3 {
  position: relative;
  left: 5px;
  top: -120px;
}
.LP4 h3 {
  position: relative;
  left: 25px;
  top: -165px;
}
.LP3 p {
  top: -120px;
}
.LP4 p {
  position: relative;
  top: -160px;
  right: 10px;
}

.instagram-feed {
  position: relative;
  display: flex;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 200px);
  top: 10.2%;

  left: 2%;
  align-items: flex-start;
  text-align: center;
  font-size: 11px;
  height: 14.7%;
  width: 57%;
  padding: 50px;
  margin: 20px;
  background-color: white;
}
.instagram-feed h2 {
  top: -33px;
  left: 60px;
  font-family: oswald;
  letter-spacing: 1px;
}

.instagram-feed img {
  position: relative;
  display: inline-block;
  width: 155px;
  height: 154px;
  padding: 5px;
  top: -175px;
  right: 25px;
}
.ig-feed2 img {
  position: relative;
  left: 130px;
  top: -645px;
}

.footer {
  position: relative;
  display: flex;

  bottom: -250px;
  height: 245px;
  width: 15in;

  background-color: rgb(41, 41, 41);
}
.insta-images {
  display: flex;
}
.footer p {
  position: relative;

  text-align: center;
  left: -800px;
  top: 180px;
  font-size: 13px;

  color: rgb(246, 243, 243);
  white-space: nowrap;
}

.footer img {
  position: relative;

  display: inline-block;
  height: 180px;
  width: 180px;
  right: -0px;
  top: -90px;
  padding: 0px;
}
.insta-header {
  position: relative;
  top: -60px;
  height: 80px;
  background-color: white;
  text-align: center;

  font-size: 11px;
  color: #444;
  font-family: oswald;
  font-weight: lighter;
  letter-spacing: 1px;
  word-spacing: 5px;
}

.number-buttons {
  position: relative;
  top: 90px;
  left: 150px;
  word-spacing: 1px;
  font-family: lato;
}
.b1 {
  background-color: orange;
  color: white;
  min-height: 35px;
  min-width: 35px;
  border: solid 1px black;
}
.b2 {
  min-height: 35px;
  min-width: 35px;
  border: solid 1px black;
}
.b3 {
  min-height: 35px;
  min-width: 35px;
  border: solid 1px black;
}
.b4 {
  min-height: 35px;
  min-width: 35px;
  border: solid 1px black;
}
.b5 {
  position: relative;
  min-height: 35px;
  min-width: 55px;
  border: solid 1px black;
  font-style: bold;
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    min-width: 130vw;
    min-height: 100vh;
  }
}
@media screen and (max-width: 768px) {
  .wrapper img {
    flex-direction: column;

    max-width: 100vw;
    max-height: 70vh;
  }
}

@media screen and (max-width: 768px) {
  .main article {
    display: flex;
    flex-direction: column;
    display: block;
    max-width: 90vw;
    height: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;

    float: bottom;
    max-width: 100vw;
  }
}
@media screen and (max-width: 768px) {
  .footer img {
    flex-direction: column;
    justify-content: center;
    float: bottom;
    max-width: 12.5vw;
  }
}
